In [1]:
import numpy as np
file_name = '../Data/numbers.txt'

In [10]:
def concat(a, b):
    return a + b

np_concat = np.vectorize(concat)

In [15]:
def concat_columns(file_name):
    """
    Create concat_columns() which takes file_name and 
    returned integers that are concatenated between the first and second columns.
    Note: You can assume that the file_name always contains two columns and
    data are only integers separated by comma.
    Ex. concat_columns('../Data/numbers.txt') returns [[2961], [19], [5095], ...]
    """
    numbers = np.loadtxt(file_name, delimiter=',', dtype='U2')
    transposed_numbers = np.transpose(numbers)
    return np.reshape(np_concat(transposed_numbers[0],
                                transposed_numbers[1]), 
                      (transposed_numbers.shape[1], 1)).astype('i')

In [16]:
concat_columns(file_name)

array([[2961],
       [  19],
       [5095],
       [ 821],
       [1861],
       [8484],
       [3116],
       [3457],
       [2274],
       [5345],
       [5782],
       [9754],
       [ 248],
       [8551],
       [8281],
       [ 863],
       [6514],
       [3289],
       [ 757],
       [1658],
       [ 442],
       [4771],
       [1820],
       [ 326],
       [2848],
       [7734],
       [ 329],
       [6599],
       [4410],
       [7532],
       [6540],
       [ 224],
       [1013],
       [1942],
       [3136],
       [ 874],
       [ 399],
       [9295],
       [6321],
       [8328],
       [1926],
       [9077],
       [7335],
       [3412],
       [9831],
       [7687],
       [9113],
       [ 990],
       [3967],
       [2683],
       [ 818],
       [1428],
       [8594],
       [7829],
       [1566],
       [4635],
       [ 502],
       [9319],
       [3596],
       [ 137],
       [6448],
       [ 856],
       [ 419],
       [ 475],
       [5414],
       [2728],
       [2487],
       [7534],
       [4875],
       [3371],
       [2892],
       [2734],
       [4594],
       [9570],
       [4320],
       [4626],
       [5280],
       [5693],
       [6325],
       [6297],
       [5543],
       [3383],
       [ 370],
       [2456],
       [9410],
       [4192],
       [4416],
       [ 629],
       [8891],
       [ 827],
       [6020],
       [7460],
       [5579],
       [ 342],
       [2770],
       [7645],
       [2582],
       [3634],
       [2271],
       [3495]], dtype=int32)